* {
    padding: 0;
    margin: 0;
}


body {
 
}


h1 {
    text-align: center;
    background-color: rgb(2, 2, 2);
    color: aliceblue;
    padding: 30px;
    position:relative
   
}





h2, h3 {
    margin: 30px;
    text-align: center;
    color: white;
}
h2{
    font-size: 18px;


}

.textoParis{
    text-align: center;
}
.textoParis::after{
    content: '';
    display: flex;
    width: 100px;
    height: 2px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    margin-top: 15px;
  
}


hr {
    margin: 0;
    width: auto;
}


p {
    font-size: 15px;
    margin: 40px;
    text-decoration: none;
   
}




ul {
    margin-left: 40px;
    list-style-type: none;
 
   
}


li {
    margin-top: 10px;
    font-size: 23px;
}


a {
    text-decoration: none;
    color: #ccc;
    font: bold 12px/24px arial, helvetica, sans-serif;
    text-align: center;
    background: rgb(2, 2, 2) url('botao_link.gif') no-repeat center center;
    width: 120px;
    height: 24px;
    display: block;
    margin: 20px;
    padding: auto;
   
}






footer {
    margin-top: 60px;
    padding: 50px;


    color: aliceblue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


img {
    margin: 20px auto;
    display: block;
    border: 10px solid #000;
}


.h2_paris {
    display: flex;
    justify-content: center;
  
font-size: 18px;
 color: white;  


}



.Descriçao{
text-align: center;


color: white;
font: bold 12px/30px arial, helvetica, sans-serif;
text-align: center;
background: #000000 url('botao_link.gif') no-repeat center center;
display: block;
}
.imagemFundo{
       
    top: 0;              
    left: 0;            
    width: 100vw;        
    height: 100vh;        
    object-fit: cover;    
    object-position: center;
    z-index: -1;  
  filter: brightness(35%);
}
.imagemFundo{
    position:fixed;
    top: 0;
   
}

.botao1{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.A{
    position: fixed;
    bottom: 20px;
    rigth: 20px;
}